<!--I am header file-->
<% include ./partials/header %>

<h1>This is login page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>

<!--I am footer file-->
<% include ./partials/footer %>